.robot {
  font-family: monospace;
}


.robot .row {
  display: flex;
  justify-content: space-around;

}

.robot .slider-group .slider {
  width: 300px;
}

.robot .slider-group .slider input {
  width: 100%;
}