.game-btn {
	padding: 10px;
	background: #111;
	color: #fff;
	display: inline-block;
}

.game-btn.active {
	background: #555;
	color: #fff;
}


.stage {
	width: 256px;
	height: 256px;
	background: #eee;
	padding: 10px;
	border: 1px solid #000;
	position: relative;
	display: inline-block;
}

.stage .dot {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000;
}